<!DOCTYPE html>
<html>
<head>
    <title>About Weather App</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <pp>This site was created by me as part of the Node.js training</pp>
        <img class="portrait" src="img/Shay26_03_21.jpg">
    </div>
</body>
{{>footer}}
</html>